[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Dindo Bot
GenericName=Dindo Bot
Comment=Farming bot for Dofus game
#Icon=icons/drago.png
Icon=applications-games
#Exec=bot.py
Exec=sh -e -c "chmod +x \\"\\$(dirname \\"\\$0\\")/bot.py\\" && exec \\"\\$(dirname \\"\\$0\\")/bot.py\\"" %k
Terminal=false
StartupNotify=false
Categories=Application;Game
