[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Dindo Bot
GenericName=Dindo Bot
Comment=Farming bot for Dofus game
Icon=/home/dev/Python/Dindo-bot/icons/drago.png
Exec=python bot.py
Terminal=false
StartupNotify=false
Categories=Application;Game
